name: TEST

on:
  push:
    branches:
      - main

jobs:
  test-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install htmlhint
        run: npm install -g htmlhint

      - name: Run tests
        run: htmlhint index.html
